<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="EliteCheckInDB" connectionString="workstation id=EliteCheckInDB.mssql.somee.com;packet size=4096;user id=CptnDutch_SQLLogin_1;pwd=TL123456;data source=EliteCheckInDB.mssql.somee.com;persist security info=False;initial catalog=EliteCheckInDB" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>